{% extends 'master.html' %}
{% load static %}

{% block title %}About - My Blog{% endblock %}

{% block content %}
<div class="container">
    <div class="row my-5">
        <div class="col-sm-12  bg-overlay p-5">
            <h2 class=" text-center">Meet the face
behind the posts</h2>
<div class="row">
<p class="py-2">&nbsp;&nbsp;&nbsp;&nbsp;I'm a paragraph. Click here to add your own text and edit me. It's easy. 
    Just click “Edit Text” or double click me to add your own content and make changes to the font. 
    Feel free to drag and drop me anywhere you like on your page. I'm a great place for you to tell 
    a story and let your users know a little more about you.
​</p>
<p class="py-2">&nbsp;&nbsp;&nbsp;&nbsp;
This is a great space to write a long text about your company and your services. You can use this 
space to go into a little more detail about your company. Talk about your team and what services 
you provide. Tell your visitors the story of how you came up with the idea for your business and 
what makes you different from your competitors. Make your company stand out and show your visitors
 who you are.</p>
</div>

        </div>
        <div class="col-sm-12 col-md-3">

        </div>
    </div>
</div>

{% endblock %}
