{% extends 'master.html' %}
{% load static %}

{% block title %}Contact - My Blog{% endblock %}

{% block content %}

<div class="container">
    <div class="row my-5">
        <div class="col-sm-12 col-md-6 bg-overlay p-5">
            <h2 class="mb-3">Get in Touch</h2>

            <p><span class="fa fa-location"></span> Marthandam</p>
            <p><span class="fa fa-phone"></span> +91 9876543210</p>
            <p><span class="fa fa-envelope"></span> monishatechdev2019@gmail.com</p>
           

            
        </div>
        <div class="col-sm-12 col-md-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7587.254687645975!2d77.2058101!3d8.3187095!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b045516f27e1797%3A0x9eaf4bffb1fa19c1!2sMarthandam%2C%20Tamil%20Nadu!5e1!3m2!1sen!2sin!4v1754905870991!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>

{% endblock %}
